* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    color: #e50914;
    font-size: 32px;
    letter-spacing: 2px;
}

.sign-btn {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.sign-btn:hover{
    border: 2px solid white;
}

/* Hero Section */
.hero {
    height: 80vh;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.2)),
                url("back.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h2 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 25px;
}

.cta-btn {
    background-color: #e50914;
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.cta-btn:hover{
    border: 2px solid white;
}


/* Features */
.features {
    display: flex;
    justify-content: space-around;
    padding: 60px;
    gap: 30px;
}

.card {
    background-color: #111;
    padding: 30px;
    border-radius: 10px;
    width: 30%;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    margin-bottom: 15px;
    color: #e50914;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    font-size: 14px;
}